<div class="auth-container">
  <div class="auth-card">
    <div class="logo-wrapper">
      <div class="chat-icon">💬</div>
      <h2 class="logo">SupportHub</h2>
      <p></p>
    </div>
    <p class="subtitle">Better support-> Smarter relationships -> Connect Freshdesk & HubSpot</p>
    <label>Email</label>
    <input type="email" [(ngModel)]="user.email" placeholder="Enter your email" />
    <label>Password</label>
    <div class="password-field">
      <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="user.password" (keyup.enter)="login()"
        placeholder="Enter your password" />

      <span class="eye" (click)="togglePassword()">
        {{ showPassword ? '👁️' : '🙈' }}
      </span>
    </div>
    <p *ngIf="errorMsg" class="error">{{ errorMsg }}</p>
    <button type="button" [disabled]="!user.email || !user.password || isLoading" (click)="login()">
      Login
    </button>
    <p class="footer">
      Don’t have an account?
      <a routerLink="/signup">Sign up here</a>
    </p>
    <p class="forgot" (click)="goToForgot()">Forgot password</p>
  </div>
</div>